{% extends 'base.html' %}
{% block con %}
{% load static %}
<section>
    <div class="section-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 blog-item mb100 wow match-height">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="hover-item mb30">
                                <img src="{% static 'assets/img/django1.png' %}" class="img-responsive smoothie" alt="title">
                                <div class="overlay-item-caption smoothie"></div>
                                <div class="hover-item-caption smoothie">
                                    <h3 class="vertical-center smoothie"><a href="https://ribbon-dosa-96d.notion.site/cc9c8e624ca949e081459ad100731c16" class="smoothie btn btn-primary page-scroll" title="view article">View</a></h3>
                                </div>
                            </div>
                            <h2 class="post-title">장고 설치</h2>
                            <a class="btn btn-primary mt30" href="https://ribbon-dosa-96d.notion.site/cc9c8e624ca949e081459ad100731c16">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
