{% extends 'base.html'%}
{% block con %}
{% load static %}
{% if user.is_authenticated %}
<section>
    <div class="container">
        <div class="section-title">
            <h2 class = "text-center" style="font-size: 150%; background:skyblue;">🏃‍♂️Introduce🏃‍♂️</h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img src="{% static 'assets/img/picture.jpg' %}" width="350px" height="350px" oncontextmenu="return false" >
                <p style="font-size: 150%; font-weight: bold;">Dae yeon Cho</p>
                <ul class="list-inline social-links wow">
                    <li><a href="https://www.google.com/"><i class="fa fa-google" style="font-size: 150%"></i></a></li>&nbsp&nbsp&nbsp
                    <li><a href="https://github.com/cooling12345/website1"><i class="fa fa-github" style="font-size: 150%"></i></a></li>&nbsp&nbsp&nbsp
                    <li><a href="https://www.instagram.com/daeyeon1963/"><i class="fa fa-instagram" style="font-size: 150%"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-8">
                <h3>나에 대해</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style="color: blue">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            <strong style="font-size: 140%;">🎉Birthday:</strong>
                            <span style="font-size: 140%;">1997 April 28</span>

                            <br><br><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style="color: blue">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            <strong style="font-size: 140%;">💻Website:</strong>
                            <span style="font-size: 140%;">daeyeon.pythonanywhere.com</span>

                            <br><br><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style="color: blue">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            <strong style="font-size: 140%;">⚛Github:</strong>
                            <span style="font-size: 140%;">https://github.com/cooling12345</span>

                            <br><br><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style="color: blue">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            <strong style="font-size: 140%;">🌆City:</strong>
                            <span style="font-size: 140%;">Incheon</span>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style="color: blue">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            <strong style="font-size: 140%;">✅Age:</strong>
                            <span style="font-size: 140%;">26</span>
                            <br><br><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style="color: blue">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            <strong style="font-size: 140%;">👨‍🎓Degree:</strong>
                            <span style="font-size: 140%;">Student</span>
                            <br><br><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style="color: blue">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            <strong style="font-size: 140%;">📧email:</strong>
                            <span style="font-size: 140%;">gfe34@naver.com</span>
                            <br><br><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style="color: blue">
                                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            <strong style="font-size: 140%;">🔠language:</strong>
                            <span style="font-size: 140%;">C,HTML,Python</span>
                        </ul>
                    </div>
        </div>
    </div>
</section><br><br>
<section>
    <div class="container">
        <div class="section-title">
            <h2 class="text-center" style="background-color: skyblue; font-size: 150%">🛠️My skills🛠️</h2>
        </div>
        <div class="row">
            <div class="block-title">
                <div class="col-md-4">
                    <div class="skills">
                        <div class="skill-item">
                            <h4>Django&nbsp;<img src="{% static 'assets/img/django.png' %}" width="60px" height="40px"></h4>
                            <p>장고를 통해 백엔드 웹서버와 웹사이트 구축이 가능합니다</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                                    85%
                                </div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <h4>Python&nbsp;<img src="{% static 'assets/img/python.png' %}" width="40px" height="40px"></h4>
                            <p>파이썬을 통해 데이터 수집과 웹크롤링을 할 수 있습니다.</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                    90%
                                </div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <h4>Linux server&nbsp;<img src="{% static 'assets/img/centos.png' %}" width="40px" height="40px"></h4>
                            <p>기본명령어와 vi편집기를 통해 다양한 서버(vnc,telnet,ssh,ftp,dns,nfs,mariadb,apache) 구축이 가능합니다. </p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                    90%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="skills">
                        <div class="skill-item">
                            <h4>window server&nbsp;<img src="{% static 'assets/img/windows.png' %}" width="40px" height="40px"></h4>
                            <p>(IIS,DNS,DHCP) 서비스 구축과 ADDS와 그룹 설정 할 수 있습니다</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                    70%
                                </div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <h4>aws(ec2,rds,s3)&nbsp;<img src="{% static 'assets/img/aws.png' %}" width="50px" height="40px"></h4>
                            <p>간단한 가상 서버인 ec2 구축이 가능하며 rds로 mysql 연동하여 workbench툴 사용이 가능합니다.<br> s3 서비스로는 파일 업로드 다운로드 서비스 구현이 가능합니다</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                    80%
                                </div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <h4>ccna(router)&nbsp;<img src="{% static 'assets/img/ccna1.jpg' %}" width="65px" height="40px"></h4>
                            <p>네트워크의 기본개념 OSI7계층 지식, 동적(RIPv2,EIGRP,OSPF) 라우팅 패킷트레이서 툴 활용하여 토폴로지 구성할 수 있습니다</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:65%">
                                    65%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="skills">
                        <div class="skill-item">
                            <h4>Bootstrap&nbsp;<img src="{% static 'assets/img/bootstrap.png' %}" width="40px" height="40px"></h4>
                            <p>부트스트랩을 통해 템플릿 설계와 장고 static파일을 연동하여 웹페이지 디자인이 가능합니다</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                                    85%
                                </div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <h4>html&nbsp;<img src="{% static 'assets/img/html.png' %}" width="40px" height="40px"></h4>
                            <p>html 다양한 태그들을 통하여 포트폴리오 웹페이지를 만들 수 있습니다.</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                    90%
                                </div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <h4>css&nbsp;<img src="{% static 'assets/img/css.png' %}" width="40px" height="40px"></h4>
                            <p>디자인 색과 위치,폰트 크기 등을 style 태그를 활용하여 구현할 수 있습니다.</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                    90%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><br><br>
<section>
    <div class="container">
        <div class="section-title">
            <h2 class="text-center" style="font-size: 150%; background-color: skyblue">✨cirtificate✨</h2>
            <h3>기술 자격증 보유</h3>
            <ul>
                <div class="col-md-6">
                    <li style="font-size: 120%"><strong>네트워크 관리사 2급(2021)</strong></li>
                    <img src="{% static 'assets/img/네트워크관리사2급.jpg' %}" width="550px" height="550px" oncontextmenu="return false">
                    <br><li style="font-size: 120%"><strong>리눅스마스터 2급(2021)</strong></li>
                    <img src="{% static 'assets/img/리눅스마스터2급.jpg' %}" width="550px" height="550px" oncontextmenu="return false">
                </div>
                <div class="col-md-6">
                    <li style="font-size: 120%"><strong>정보처리산업기사(2018)</strong></li>
                    <img src="{% static 'assets/img/정보처리산업기사.jpg' %}" width="550px" height="550px" oncontextmenu="return false">
                    <br><li style="font-size: 120%"><strong>AWS Certified Cloud Practitioner(2022)</strong></li>
                    <img src="{% static 'assets/img/cp자격증.JPG' %}" width="550px" height="550px" oncontextmenu="return false">
                </div>
            </ul>
        </div>
    </div>
</section><br><br>
<section>
    <div class="container">
        <div class="section-title">
            <h2 class="text-center" style="font-size: 150%; background-color: skyblue">🪄education🪄</h2>
            <div class="col-md-6">
                <h3>IT 교육과정 수료</h3>
                <p style="font-size: 150%"><strong>1️⃣2022</p></strong>
                <ul>
                    <li style="font-size: 120%">🎓리눅스2(다양한 서비스 구축) 과정 재수료</li>
                    <li style="font-size: 120%">🎓파이썬 장고 웹사이트 구축과정 수료</li>
                    <li style="font-size: 120%">✏️aws Technical essentials 공인 교육과정 11월 이수예정</li>
                    <li style="font-size: 120%">✏️aws architecting on AWS 공인 교육과정 11월 이수예정 </li>
                    <li style="font-size: 120%">🎓aws Cloud practitioner 자격 과정 10월 수료</li>
                </ul>
                <p style="font-size: 150%"><strong>2️⃣2021</p></strong>
                <ul>
                    <li style="font-size: 120%">🎓리눅스2(다양한 서비스 구축) 과정 수료</li>
                    <li style="font-size: 120%">🎓윈도우 2012 서버1 과정 수료</li>
                    <li style="font-size: 120%">🎓Python 기초 과정 수료</li>
                </ul>
                <p style="font-size: 150%"><strong>3️⃣2018</p></strong>
                <ul>
                    <li style="font-size: 120%">🎓C언어 과정 수료</li>
                    <li style="font-size: 120%">🎓네트워크 기초(CCNA) 과정 수료</li>
                    <li style="font-size: 120%">🎓리눅스1(명령어) 과정 수료</li>
                    <li style="font-size: 120%">🎓C++ 과정 수료</li>
                    <li style="font-size: 120%">🎓자료구조 과정 수료</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3>학력</h3>
                <p style="font-size: 150%"><strong>1️⃣2022</p></strong>
                <ul>
                    <li style="font-size: 120%">시스템제어공학과 4학년 재학중</li>
                </ul>
                <p style="font-size: 150%"><strong>2️⃣2018</p></strong>
                <ul>
                    <li style="font-size: 120%">휴학후 IT교육기관 1년간 프로그래밍 공부</li>
                </ul>
                <p style="font-size: 150%"><strong>3️⃣2017</p></strong>
                <ul>
                    <li style="font-size: 120%">호서대 시스템제어공학과 전과</li>
                </ul>
                <p style="font-size: 150%"><strong>4️⃣2016</p></strong>
                <ul>
                    <li style="font-size: 120%">호서대 수학전공 입학</li>
                </ul>
            </div>
        </div>
    </div>
</section><br><br>
    <div class="container">
        <h1 class="text-center"style="font-size: 150%; font-weight: bold; background-color:skyblue">🎇MY Toy project🎇️</h1>
    </div>
<section>
    <div class="wrap">
        <h1>MY Project <span>PORTFOLIO</span></h1>

        <ul class="auto">
            <li class="btnStart"><i class="fas fa-play"></i></li>
            <li class="btnStop"><i class="fas fa-pause"></i></li>
        </ul>

    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="inner">
                <div class="con">
                    <video controls controlsList="nodownload" autoplay loop muted src="{% static 'assets/img/wireguard접속연결.mp4' %}" width="450px" height="300px" oncontextmenu="return false">
                    </video><h2 style="font-size: 120%; font-weight: bold; font-style: italic">리눅스 라즈베리파이 ssh 원격접속</h2>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="inner">
                <div class="con">
                    <video controls controlsList="nodownload" autoplay loop muted src="{% static 'assets/img/원격접속 영상.mp4' %}" width="450px" height="300px" oncontextmenu="return false">리눅스 ssh 원격접속</video>
                    <h2 style="font-size: 120%; font-weight: bold; font-style: italic">wireguard VPN 연결</h2>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="inner">
                <div class="con">
                    <video controls controlsList="nodownload" autoplay loop muted src="{% static 'assets/img/홍콩vpn.mp4' %}" width="450px" height="300px" oncontextmenu="return false">리눅스 ssh 원격접속</video>
                    <h2 style="font-size: 120%; font-weight: bold; font-style: italic">outline 해외 VPN 홍콩서버 연결</h2>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="inner">
                <div class="con">
                    <video controls controlsList="nodownload" autoplay loop muted src="{% static 'assets/img/영국vpn.mp4' %}" width="450px" height="300px" oncontextmenu="return false">리눅스 ssh 원격접속</video>
                    <h2 style="font-size: 120%; font-weight: bold; font-style: italic">outline 해외 VPN 영국서버 연결</h2>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="inner">
                <div class="con">
                    <video controls controlsList="nodownload" autoplay loop muted src="{% static 'assets/img/웹사이트 스와이프.mp4' %}" width="450px" height="300px" oncontextmenu="return false"></video>
                    <h2 style="font-size: 120%; font-weight: bold; font-style: italic">음악 플레이어 갤러리</h2>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="inner">
                <div class="con">
                    <video controls controlsList="nodownload" autoplay loop muted src="{% static 'assets/img/장고 서버 실행 및 로그인 성공.mp4' %}" width="450px" height="300px" oncontextmenu="return false"></video>
                    <h2 style="font-size: 120%; font-weight: bold; font-style: italic">form태그 post 전송시 로그인 성공</h2>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="inner">
                <div class="con">
                    <video controls controlsList="nodownload" autoplay loop muted src="{% static 'assets/img/조도센서led.mp4' %}" width="450px" height="300px" oncontextmenu="return false"></video>
                    <h2 style="font-size: 120%; font-weight: bold; font-style: italic">조도센서에 따른 led 변화</h2>
                </div>
            </div>
        </div>
    </div>
                <!-- 좌우버튼 -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>

            <!-- 페이징 버튼 -->
            <div class="swiper-pagination"></div>
        </div>

    <script>
        const swiper = new Swiper('.wrap',{
            direction: "horizontal",
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                type: 'fraction'
            },
            navigation : {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            spaceBetween: 0,
            slidesPerView: "auto",
            grabCursor: true,
            centeredSlides :true,
            speed:800,
            effect:"coverflow",
            coverflowEffect: {
                rotate: 50,
                stretch: -100,
                depth: 400,
                modifier: 1,
                slideShadows: false,
            },
            autoplay: {
                delay:2500,
                disableOnInteraction : true
            }
        });

        // .btnStart 요소를 찾아서 btnStart에 저장
        const btnStart = document.querySelector(".btnStart");
        // .btnStop 요소를 찾아서 btnStop에 저장
        const btnStop = document.querySelector(".btnStop");

        //btnStart버튼을 클릭시 자동롤링 시작
        btnStart.addEventListener("click",()=>{
            swiper.autoplay.start();
        });

        //btnStart버튼을 클릭시 자동롤링 정지
        btnStop.addEventListener("click",()=>{
            swiper.autoplay.stop();
        });
    </script>
</section>

{% else %}
<section>
    <div class="container">
        <div class="section-title">
            <h2 class="text-center" style="background-color: skyblue; font-size: 150%">🛠️My skills🛠️</h2>
        </div>
        <div class="row">
            <div class="block-title">
                <div class="col-md-4">
                    <div class="skills">
                        <div class="skill-item">
                            <h4>Django&nbsp;<img src="{% static 'assets/img/django.png' %}" width="60px" height="40px"></h4>
                            <p>장고를 통해 백엔드 웹서버와 웹사이트 구축이 가능합니다</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                                    85%
                                </div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <h4>Python&nbsp;<img src="{% static 'assets/img/python.png' %}" width="40px" height="40px"></h4>
                            <p>파이썬을 통해 데이터 수집과 웹크롤링을 할 수 있습니다.</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                    90%
                                </div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <h4>Linux server&nbsp;<img src="{% static 'assets/img/centos.png' %}" width="40px" height="40px"></h4>
                            <p>기본명령어와 vi편집기를 통해 다양한 서버(vnc,telnet,ssh,ftp,dns,nfs,mariadb,apache) 구축이 가능합니다. </p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                    90%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="skills">
                        <div class="skill-item">
                            <h4>window server&nbsp;<img src="{% static 'assets/img/windows.png' %}" width="40px" height="40px"></h4>
                            <p>(IIS,DNS,DHCP) 서비스 구축과 ADDS와 그룹 설정 할 수 있습니다</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                    70%
                                </div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <h4>aws(ec2,rds,s3)&nbsp;<img src="{% static 'assets/img/aws.png' %}" width="50px" height="40px"></h4>
                            <p>간단한 가상 서버인 ec2 구축이 가능하며 rds로 mysql 연동하여 workbench툴 사용이 가능합니다.<br> s3 서비스로는 파일 업로드 다운로드 서비스 구현이 가능합니다</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                    80%
                                </div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <h4>ccna(router)&nbsp;<img src="{% static 'assets/img/ccna1.jpg' %}" width="65px" height="40px"></h4>
                            <p>네트워크의 기본개념 OSI7계층 지식, 동적(RIPv2,EIGRP,OSPF) 라우팅 패킷트레이서 툴 활용하여 토폴로지 구성할 수 있습니다</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:65%">
                                    65%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="skills">
                        <div class="skill-item">
                            <h4>Bootstrap&nbsp;<img src="{% static 'assets/img/bootstrap.png' %}" width="40px" height="40px"></h4>
                            <p>부트스트랩을 통해 템플릿 설계와 장고 static파일을 연동하여 웹페이지 디자인이 가능합니다</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                                    85%
                                </div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <h4>html&nbsp;<img src="{% static 'assets/img/html.png' %}" width="40px" height="40px"></h4>
                            <p>html 다양한 태그들을 통하여 포트폴리오 웹페이지를 만들 수 있습니다.</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                    90%
                                </div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <h4>css&nbsp;<img src="{% static 'assets/img/css.png' %}" width="40px" height="40px"></h4>
                            <p>디자인 색과 위치,폰트 크기 등을 style 태그를 활용하여 구현할 수 있습니다.</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                    90%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><br><br>
<section>
    <div class="container">
        <div class="section-title">
            <h2 class="text-center" style="font-size: 150%; background-color: skyblue">🪄education🪄</h2>
            <div class="col-md-12">
                <h3>IT 교육과정 수료</h3>
                <p style="font-size: 150%"><strong>1️⃣2022</p></strong>
                <ul>
                    <li style="font-size: 120%">🎓리눅스2(다양한 서비스 구축) 과정 재수료</li>
                    <li style="font-size: 120%">🎓파이썬 장고 웹사이트 구축과정 수료</li>
                    <li style="font-size: 120%">✏️aws Technical essentials 공인 교육과정 11월 이수예정</li>
                    <li style="font-size: 120%">✏️aws architecting on AWS 공인 교육과정 11월 이수예정 </li>
                    <li style="font-size: 120%">🎓aws Cloud practitioner 자격 과정 10월 수료</li>
                </ul>
                <p style="font-size: 150%"><strong>2️⃣2021</p></strong>
                <ul>
                    <li style="font-size: 120%">🎓리눅스2(다양한 서비스 구축) 과정 수료</li>
                    <li style="font-size: 120%">🎓윈도우 2012 서버1 과정 수료</li>
                    <li style="font-size: 120%">🎓Python 기초 과정 수료</li>
                </ul>
                <p style="font-size: 150%"><strong>3️⃣2018</p></strong>
                <ul>
                    <li style="font-size: 120%">🎓C언어 과정 수료</li>
                    <li style="font-size: 120%">🎓네트워크 기초(CCNA) 과정 수료</li>
                    <li style="font-size: 120%">🎓리눅스1(명령어) 과정 수료</li>
                    <li style="font-size: 120%">🎓C++ 과정 수료</li>
                    <li style="font-size: 120%">🎓자료구조 과정 수료</li>
                </ul>
            </div>
        </div>
    </div>
</section><br><br>
<div class="container">
    <h1 class="text-center"style="font-size: 150%; font-weight: bold; background-color:skyblue">🎇MY Toy project🎇️</h1>
</div>
<section>
        <div class="wrap">
        <h1>MY Project <span>PORTFOLIO</span></h1>

        <ul class="auto">
            <li class="btnStart"><i class="fas fa-play"></i></li>
            <li class="btnStop"><i class="fas fa-pause"></i></li>
        </ul>
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="inner">
                <div class="con">
                    <video controls controlsList="nodownload" autoplay loop muted src="{% static 'assets/img/wireguard접속연결.mp4' %}" width="450px" height="300px" oncontextmenu="return false">
                    </video><h2 style="font-size: 120%; font-weight: bold; font-style: italic">리눅스 라즈베리파이 ssh 원격접속</h2>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="inner">
                <div class="con">
                    <video controls controlsList="nodownload" autoplay loop muted src="{% static 'assets/img/원격접속 영상.mp4' %}" width="450px" height="300px" oncontextmenu="return false">리눅스 ssh 원격접속
                    </video><h2 style="font-size: 120%; font-weight: bold; font-style: italic">wireguard VPN 연결</h2>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="inner">
                <div class="con">
                    <video controls controlsList="nodownload" autoplay loop muted src="{% static 'assets/img/홍콩vpn.mp4' %}" width="450px" height="300px" oncontextmenu="return false">리눅스 ssh 원격접속
                    </video><h2 style="font-size: 120%; font-weight: bold; font-style: italic">outline 해외 VPN 홍콩서버 연결</h2>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="inner">
                <div class="con">
                    <video controls controlsList="nodownload" autoplay loop muted src="{% static 'assets/img/영국vpn.mp4' %}" width="450px" height="300px" oncontextmenu="return false">리눅스 ssh 원격접속
                    </video><h2 style="font-size: 120%; font-weight: bold; font-style: italic">outline 해외 VPN 영국서버 연결</h2>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="inner">
                <div class="con">
                    <video controls controlsList="nodownload" autoplay loop muted src="{% static 'assets/img/웹사이트 스와이프.mp4' %}" width="450px" height="300px" oncontextmenu="return false">
                    </video><h2 style="font-size: 120%; font-weight: bold; font-style: italic">음악 플레이어 갤러리</h2>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="inner">
                <div class="con">
                    <video controls controlsList="nodownload" autoplay loop muted src="{% static 'assets/img/장고 서버 실행 및 로그인 성공.mp4' %}" width="450px" height="300px" oncontextmenu="return false">
                    </video><h2 style="font-size: 120%; font-weight: bold; font-style: italic">form태그 post 전송시 로그인 성공</h2>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="inner">
                <div class="con">
                    <video controls controlsList="nodownload" autoplay loop muted src="{% static 'assets/img/조도센서led.mp4' %}" width="450px" height="300px" oncontextmenu="return false">
                    </video><h2 style="font-size: 120%; font-weight: bold; font-style: italic">조도센서에 따른 led 변화</h2>
                </div>
            </div>
        </div>
    </div>
                <!-- 좌우버튼 -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>

            <!-- 페이징 버튼 -->
            <div class="swiper-pagination"></div>
        </div>

    <script>
        const swiper = new Swiper('.wrap',{
            direction: "horizontal",
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                type: 'fraction'
            },
            navigation : {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            spaceBetween: 0,
            slidesPerView: "auto",
            grabCursor: true,
            centeredSlides :true,
            speed:800,
            effect:"coverflow",
            coverflowEffect: {
                rotate: 50,
                stretch: -100,
                depth: 400,
                modifier: 1,
                slideShadows: false,
            },
            autoplay: {
                delay:2500,
                disableOnInteraction : true
            }
        });

        // .btnStart 요소를 찾아서 btnStart에 저장
        const btnStart = document.querySelector(".btnStart");
        // .btnStop 요소를 찾아서 btnStop에 저장
        const btnStop = document.querySelector(".btnStop");

        //btnStart버튼을 클릭시 자동롤링 시작
        btnStart.addEventListener("click",()=>{
            swiper.autoplay.start();
        });

        //btnStart버튼을 클릭시 자동롤링 정지
        btnStop.addEventListener("click",()=>{
            swiper.autoplay.stop();
        });
    </script>
</section>
{% endif %}
{% endblock %}
